
.requirements__ul{
    list-style-type:square;
}
.requirements__li{
    font-size: 1em;
    font-style: italic;

}

.google__forms{
    transition: 0.6s;
}

.google__forms:hover{
    transform: scale(1.07);
}


@media (width > 750px ){

    .apply__p{
        font-size: 1.2em;
        margin-inline:6em;
    }

    .apply__h2{
        margin-inline:6em;
    }

    .apply__a{
        font-size: larger;
    }

    .requirements__li{
        font-size: 1em;
    }
}