
.fleet__img{
    width: 100%;
}

.fleet__ul{
    display: grid;
    grid-template-columns: auto auto;
}

.fleet__li{
    margin: 0.35em;
    margin-right: 2em;
}



@media (width > 700px) {

    .accordion__fleet{
        display: flex;
        align-items: center;
    }

    .fleet__ul{
        font-size: 1.2em;
        margin-right: 1em;
    }

}