.staff__crew__p{
    font-size: 0.9em;
}


.staff-pfp{
    width: 25%;
}

.h6__links{
    text-decoration: overline;
    font-weight: 900;
    font-style: italic;
}

.staff__crew{
    margin-top: 3em;
    font-style: italic;
}



@media (width > 600px) {
    .staff-pfp{
        width: 15%;
    }

    .staff__crew__p{
        font-size: 17px;
      
    }
}

@media (width > 800px) {
    .staff-pfp{
        width: 10%;
    }

    .staff__crew__p{
        margin-inline: 10em;
    }

    .staff__rank__card{
        margin-inline: 10em;
    }
}